<div class="p-4">
    <div class="container">
        <h1>Hi {{user.firstName}}!</h1>
        <p>SISTEMAS AGRICOLA CHAPARRAL</p>
        <!-- <p>MATRIZ DE SEGUIMIENTO </p>
        <p><a routerLink="/users">Administrador de Usuarios </a></p>
        <p><a routerLink="/matriz">Matriz de Seguimiento </a></p>
        <p><a routerLink="/reportes">Reportes </a></p> -->

    </div>
    <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu> -->
</div>