<div class="content">
    <!-- <h4 class="card-header text-center">Login</h4> -->
    <div class="card-body">
        <img src="assets/logoGrupoChaparral.png" class="w-25">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <mat-form-field >
                    <mat-label>Productor</mat-label>
                    <mat-select [formControl]="animalControl" required>                         
                        <mat-option *ngFor="let prod of productores" [value]="prod" >
                            {{prod.nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="animalControl.hasError('required')">Selecciona un Productor</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <label for="username">Usuario</label>
                    <input matInput type="text"  placeholder="Usuario" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Captura el usuario correcto</div>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <label for="password">Contraseña</label>
                    <!-- <input matInput placeholder="Contraseña" required type="password" name="contrasena"  [(ngModel)]="datoscaptura.contrasena"> -->
                    <input matInput type="password" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Captura el password correcto</div>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-success">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
            </div>
        </form>
    </div>
</div>